---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/172.217.19.78?access_key=invalid-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Blocked-At-Loadbalancer:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {
          "success": false,
          "error": {
            "code": 101,
            "type": "invalid_access_key",
            "info": "You have not supplied a valid API Access Key. [Technical Support: support@apilayer.com]"
          }
        }
  recorded_at: Tue, 03 Sep 2024 11:21:53 GMT
- request:
    method: get
    uri: http://api.ipstack.com/142.250.181.206?access_key=invalid-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Blocked-At-Loadbalancer:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {
          "success": false,
          "error": {
            "code": 101,
            "type": "invalid_access_key",
            "info": "You have not supplied a valid API Access Key. [Technical Support: support@apilayer.com]"
          }
        }
  recorded_at: Tue, 03 Sep 2024 11:26:05 GMT
recorded_with: VCR 6.3.1
