---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/142.250.181.196?access_key=dbb4ac3f1148e0c51a8d200928f05d80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - e313833c-ea5c-450d-8a4b-68f2a05d7cb1
      X-Quota-Limit:
      - '100'
      X-Quota-Remaining:
      - '73'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.032'
    body:
      encoding: UTF-8
      string: '{"ip": "142.250.181.196", "type": "ipv4", "continent_code": "EU", "continent_name":
        "Europe", "country_code": "DE", "country_name": "Germany", "region_code":
        "HH", "region_name": "Hamburg", "city": "Hamburg", "zip": "20095", "latitude":
        53.55110168457031, "longitude": 9.99370002746582, "msa": null, "dma": null,
        "radius": null, "ip_routing_type": "fixed", "connection_type": "tx", "location":
        {"geoname_id": 2911298, "capital": "Berlin", "languages": [{"code": "de",
        "name": "German", "native": "Deutsch"}], "country_flag": "https://assets.ipstack.com/flags/de.svg",
        "country_flag_emoji": "\ud83c\udde9\ud83c\uddea", "country_flag_emoji_unicode":
        "U+1F1E9 U+1F1EA", "calling_code": "49", "is_eu": true}}'
  recorded_at: Tue, 03 Sep 2024 09:07:24 GMT
[...]
- request:
    method: get
    uri: http://api.ipstack.com/172.217.16.68?access_key=dupaet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Blocked-At-Loadbalancer:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {
          "success": false,
          "error": {
            "code": 101,
            "type": "invalid_access_key",
            "info": "You have not supplied a valid API Access Key. [Technical Support: support@apilayer.com]"
          }
        }
  recorded_at: Tue, 03 Sep 2024 11:07:19 GMT
- request:
    method: get
    uri: http://api.ipstack.com/172.217.16.68?access_key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Blocked-At-Loadbalancer:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {
          "success": false,
          "error": {
            "code": 101,
            "type": "missing_access_key",
            "info": "You have not supplied an API Access Key. [Required format: access_key=YOUR_ACCESS_KEY]"
          }
        }
  recorded_at: Tue, 03 Sep 2024 11:07:38 GMT
[...]
- request:
    method: get
    uri: http://api.ipstack.com/142.250.181.196?access_key=kotek
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Blocked-At-Loadbalancer:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {
          "success": false,
          "error": {
            "code": 101,
            "type": "invalid_access_key",
            "info": "You have not supplied a valid API Access Key. [Technical Support: support@apilayer.com]"
          }
        }
  recorded_at: Tue, 03 Sep 2024 11:10:16 GMT
recorded_with: VCR 6.3.1
