---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/172.217.19.78?access_key=dbb4ac3f1148e0c51a8d200928f05d80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 0ce134ca-8d54-4d35-be22-612ac7230e49
      X-Quota-Limit:
      - '100'
      X-Quota-Remaining:
      - '71'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.029'
    body:
      encoding: UTF-8
      string: '{"ip": "172.217.19.78", "type": "ipv4", "continent_code": "NA", "continent_name":
        "North America", "country_code": "US", "country_name": "United States", "region_code":
        "CA", "region_name": "California", "city": "Mountain View", "zip": "94043",
        "latitude": 37.419158935546875, "longitude": -122.07540893554688, "msa": "41940",
        "dma": "807", "radius": null, "ip_routing_type": "fixed", "connection_type":
        "tx", "location": {"geoname_id": 5375480, "capital": "Washington D.C.", "languages":
        [{"code": "en", "name": "English", "native": "English"}], "country_flag":
        "https://assets.ipstack.com/flags/us.svg", "country_flag_emoji": "\ud83c\uddfa\ud83c\uddf8",
        "country_flag_emoji_unicode": "U+1F1FA U+1F1F8", "calling_code": "1", "is_eu":
        false}}'
  recorded_at: Tue, 03 Sep 2024 09:07:24 GMT
- request:
    method: get
    uri: http://api.ipstack.com/142.250.181.206?access_key=dbb4ac3f1148e0c51a8d200928f05d80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 2e1c4ca2-cd8f-496d-bca5-cd2ef239c5a6
      X-Quota-Limit:
      - '100'
      X-Quota-Remaining:
      - '69'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.034'
    body:
      encoding: UTF-8
      string: '{"ip": "142.250.181.206", "type": "ipv4", "continent_code": "EU", "continent_name":
        "Europe", "country_code": "DE", "country_name": "Germany", "region_code":
        "HH", "region_name": "Hamburg", "city": "Hamburg", "zip": "20095", "latitude":
        53.55110168457031, "longitude": 9.99370002746582, "msa": null, "dma": null,
        "radius": null, "ip_routing_type": "fixed", "connection_type": "tx", "location":
        {"geoname_id": 2911298, "capital": "Berlin", "languages": [{"code": "de",
        "name": "German", "native": "Deutsch"}], "country_flag": "https://assets.ipstack.com/flags/de.svg",
        "country_flag_emoji": "\ud83c\udde9\ud83c\uddea", "country_flag_emoji_unicode":
        "U+1F1E9 U+1F1EA", "calling_code": "49", "is_eu": true}}'
  recorded_at: Tue, 03 Sep 2024 09:16:43 GMT
recorded_with: VCR 6.3.1
