---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/134.201.250.155?access_key=dbb4ac3f1148e0c51a8d200928f05d80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - bb183967-f072-4416-8331-cf7563b3adbf
      X-Quota-Limit:
      - '100'
      X-Quota-Remaining:
      - '72'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.044'
    body:
      encoding: UTF-8
      string: '{"ip": "134.201.250.155", "type": "ipv4", "continent_code": "NA", "continent_name":
        "North America", "country_code": "US", "country_name": "United States", "region_code":
        "CA", "region_name": "California", "city": "Los Angeles", "zip": "90012",
        "latitude": 34.0655517578125, "longitude": -118.24053955078125, "msa": "31100",
        "dma": "803", "radius": null, "ip_routing_type": null, "connection_type":
        null, "location": {"geoname_id": 5368361, "capital": "Washington D.C.", "languages":
        [{"code": "en", "name": "English", "native": "English"}], "country_flag":
        "https://assets.ipstack.com/flags/us.svg", "country_flag_emoji": "\ud83c\uddfa\ud83c\uddf8",
        "country_flag_emoji_unicode": "U+1F1FA U+1F1F8", "calling_code": "1", "is_eu":
        false}}'
  recorded_at: Tue, 03 Sep 2024 09:07:24 GMT
- request:
    method: get
    uri: http://api.ipstack.com/134.201.250.155?access_key=dupaet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Blocked-At-Loadbalancer:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {
          "success": false,
          "error": {
            "code": 101,
            "type": "invalid_access_key",
            "info": "You have not supplied a valid API Access Key. [Technical Support: support@apilayer.com]"
          }
        }
  recorded_at: Tue, 03 Sep 2024 11:07:19 GMT
- request:
    method: get
    uri: http://api.ipstack.com/134.201.250.155?access_key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Blocked-At-Loadbalancer:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {
          "success": false,
          "error": {
            "code": 101,
            "type": "missing_access_key",
            "info": "You have not supplied an API Access Key. [Required format: access_key=YOUR_ACCESS_KEY]"
          }
        }
  recorded_at: Tue, 03 Sep 2024 11:07:37 GMT
- request:
    method: get
    uri: http://api.ipstack.com/134.201.250.155?access_key=kotek
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Blocked-At-Loadbalancer:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {
          "success": false,
          "error": {
            "code": 101,
            "type": "invalid_access_key",
            "info": "You have not supplied a valid API Access Key. [Technical Support: support@apilayer.com]"
          }
        }
  recorded_at: Tue, 03 Sep 2024 11:10:45 GMT
recorded_with: VCR 6.3.1
